version: ~> 1.0 # needed for imports

import: scala/scala-dev:travis/default.yml

language: scala

scala:
  - 3.0.0-M2
  - 2.12.12
  - 2.13.4

env:
  - SCALAJS_VERSION=         ADOPTOPENJDK=8
  - SCALAJS_VERSION=1.3.1    ADOPTOPENJDK=8
  - SCALAJS_VERSION=         ADOPTOPENJDK=11
  - SCALAJS_VERSION=         ADOPTOPENJDK=13

install:
  - git fetch --tags # get all tags for sbt-dynver

script: ./build.sh
