version: ~> 1.0 # needed for imports

import: scala/scala-dev:travis/default.yml

language: scala

scala:
  - 3.0.0
  - 3.0.0-RC3
  - 2.12.14
  - 2.13.6

env:
  - SCALAJS_VERSION=          ADOPTOPENJDK=8
  - SCALAJS_VERSION=1.6.0     ADOPTOPENJDK=8
  - SCALANATIVE_VERSION=0.4.0 ADOPTOPENJDK=8
  - SCALAJS_VERSION=          ADOPTOPENJDK=11
  - SCALAJS_VERSION=          ADOPTOPENJDK=16

jobs:
  exclude:
    - scala: 3.0.1-RC3
      env: SCALANATIVE_VERSION=0.4.0 ADOPTOPENJDK=8
    - scala: 3.0.1
      env: SCALANATIVE_VERSION=0.4.0 ADOPTOPENJDK=8

install:
  - git fetch --tags # get all tags for sbt-dynver

script: ./build.sh
