version: 2.1

executors:
  scala_jdk8_executor:
    docker:
      - image: circleci/openjdk:8-jdk-node
  scala_jdk11_executor:
    docker:
      - image: circleci/openjdk:11-jdk
  scala_jdk16_executor:
    docker:
      - image: circleci/openjdk:16-buster

commands:
  sbt_cmd:
    description: "Build with sbt"
    parameters:
      scala_version:
        type: string
        default: 2.12.13
      sbt_tasks:
        type: string
        default: update compile test:compile test doc package osgiBundle
    steps:
      - restore_cache:
          keys:
            - sbt-deps-v1-{{ checksum "build.sbt" }}
            - sbt-deps-v1-
      - run: sbt ++<< parameters.scala_version >> << parameters.sbt_tasks >>
      - save_cache:
          key: sbt-deps-v1-{{ checksum "build.sbt" }}
          paths:
            - "~/.cache/coursier"
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"

jobs:
  scala_job:
    executor: scala_<<parameters.java_version>>_executor
    parameters:
      scala_version:
        description: "Scala version"
        default: 2.12.13
        type: string
      java_version:
        description: "Java version"
        default: jdk8
        type: string
    steps:
      - checkout
      - run: java -version
      - sbt_cmd:
          scala_version: << parameters.scala_version >>
          sbt_tasks: xml/update xml/compile xml/Test/compile xml/test xml/doc xml/package xml/osgiBundle xml/versionPolicyCheck
  scalajs_job:
    executor: scala_jdk8_executor
    parameters:
      scala_version:
        description: "Scala version"
        default: 2.12.13
        type: string
      scalajs_version:
        description: "ScalaJS version"
        default: 1.1.1
        type: string
    environment:
      SCALAJS_VERSION: << parameters.scalajs_version >>
    steps:
      - checkout
      - run: java -version
      - run: node -v
      - sbt_cmd:
          scala_version: << parameters.scala_version >>
          sbt_tasks: xmlJS/update xmlJS/compile xmlJS/Test/compile xmlJS/test xmlJS/doc xmlJS/package
  scalanative_job:
    executor: scala_jdk8_executor
    parameters:
      scala_version:
        description: "Scala version"
        default: 2.12.13
        type: string
      scalanative_version:
        description: "Scala Native version"
        default: 0.4.0
        type: string
    environment:
      SCALANATIVE_VERSION: << parameters.scalanative_version >>
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y clang-7
            sudo ln -s /usr/lib/llvm-7/bin/clang /usr/local/bin/clang
            sudo ln -s /usr/lib/llvm-7/bin/clang++ /usr/local/bin/clang++
      - sbt_cmd:
          scala_version: << parameters.scala_version >>
          sbt_tasks: xmlNative/update xmlNative/compile xmlNative/test:compile xmlNative/test xmlNative/doc xmlNative/package

workflows:
  build:
    jobs:
      - scala_job:
          name: 2.12.13
          java_version: jdk8
          scala_version: 2.12.13
      - scala_job:
          name: 2.13.5
          java_version: jdk8
          scala_version: 2.13.6
      - scala_job:
          name: 3.0.0
          java_version: jdk8
          scala_version: 3.0.0
      - scala_job:
          name: 3.0.0-RC3
          java_version: jdk8
          scala_version: 3.0.0-RC3
      - scala_job:
          name: jdk11_2.12
          java_version: jdk11
          scala_version: 2.12.13
      - scala_job:
          name: jdk11_2.13
          java_version: jdk11
          scala_version: 2.13.6
      - scala_job:
          name: jdk11_3.0
          java_version: jdk11
          scala_version: 3.0.0
      - scala_job:
          name: jdk16_2.12
          java_version: jdk16
          scala_version: 2.12.13
      - scala_job:
          name: jdk16_2.13
          java_version: jdk16
          scala_version: 2.13.6
      - scala_job:
          name: jdk16_3.0
          java_version: jdk16
          scala_version: 3.0.0
      - scalajs_job:
          name: sjs1.0_2.12
          scala_version: 2.12.13
          scalajs_version: 1.5.1
      - scalajs_job:
          name: sjs1.0_2.13
          scala_version: 2.13.6
          scalajs_version: 1.5.1
      - scalanative_job:
          name: native0.4_2.12
          scala_version: 2.12.13
          scalanative_version: 0.4.0
      - scalanative_job:
          name: native0.4_2.13
          scala_version: 2.13.6
          scalanative_version: 0.4.0
